Repository maxdarling/vislang-v1: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix datanode value sync bug
  src/nodes/DataNode.tsx
Due: eslint --fix, prettier --write

function node: rename-able name at top
  notes.md
  src/components/EditableValue.tsx
  src/index.css
  src/nodes/DataNode.tsx
  src/nodes/FunctionNode.tsx
Due: eslint --fix, prettier --write

param draft 1: inc-able param handles
  notes.md
  src/index.css
  src/nodes/FunctionNode.tsx
Due: eslint --fix, prettier --write

param draft 2: param and ret nodes
  notes.md
  src/App.tsx
  src/Sidebar.tsx
  src/components/NodeIcon.tsx
  src/index.css
  src/nodes/ParamNode.tsx
  src/nodes/ReturnNode.tsx
Due: eslint --fix, prettier --write

param draft 3: fixed return node
  notes.md
  src/App.tsx
  src/index.css
  src/nodes/FunctionNode.tsx
  src/utils.ts
Due: eslint --fix, prettier --write

param draft 4: inc-able param nodes
  notes.md
  src/App.tsx
  src/index.css
  src/nodes/FunctionNode.tsx
  src/nodes/ParamNode.tsx
Due: eslint --fix, prettier --write

cleanup prettier + lintstaged
  .lintstagedrc.json
  .prettierrc
  package.json
Due: prettier --write

cleanup notes
  functions-notes.md
  notes.md
Due: none

fix intersection count computation for param/ret nodes
  notes.md
  src/nodes/FunctionNode.tsx
Due: eslint --fix, prettier --write

implement call nodes
  notes.md
  src/App.tsx
  src/FunctionNamespaceContext.tsx
  src/components/NodeIcon.tsx
  src/index.css
  src/nodes/CallNode.tsx
  src/nodes/FunctionNode.tsx
Due: eslint --fix, prettier --write

Add call node to initial nodes; fix fit view bug
  src/App.tsx
  src/handles/CustomHandle.tsx
  src/nodes/CallNode.tsx
  src/nodes/DisplayNode.tsx
  src/nodes/ReturnNode.tsx
Due: eslint --fix, prettier --write

improve layouting for param + ret nodes
  src/nodes/FunctionNode.tsx
Due: eslint --fix, prettier --write

update comments
  functions-notes.md
  notes.md
  src/App.tsx
Due: eslint --fix, prettier --write

feature: adopt-on-drag and detach toolbar for functions
  functions-notes.md
  notes.md
  src/App.tsx
  src/components/DetachToolbar.tsx
  src/index.css
  src/nodes/FunctionNode.tsx
Due: eslint --fix, prettier --write

feature: support function calls (attempt #1)
  functions-notes.md
  notes.md
  src/App.tsx
  src/RuntimeContext.tsx
  src/RuntimeFlow.tsx
  src/Sidebar.tsx
  src/components/NodeIcon.tsx
  src/handles/CustomHandle.tsx
  src/index.css
  src/nodeRegistry.ts
  src/nodes/CallInstanceNode.tsx
  src/nodes/CallNode.tsx
  src/nodes/RuntimeReturnNode.tsx
Due: eslint --fix, prettier --write

update notes
  functions-notes.md
  notes.md
Due: none

bugfixes
  notes.md
  src/FunctionNamespaceContext.tsx
  src/index.css
  src/nodes/CallNode.tsx
  src/nodes/FunctionNode.tsx
Due: eslint --fix, prettier --write

update todos
  notes.md
  src/nodes/FunctionNode.tsx
Due: eslint --fix, prettier --write

feature: if node
  notes.md
  src/Sidebar.tsx
  src/components/NodeIcon.tsx
  src/index.css
  src/nodeRegistry.ts
  src/nodes/IfNode.tsx
Due: eslint --fix, prettier --write

cleanup sidebar
  src/index.css
Due: prettier --write

feature: left sidebar and "main" function semantics
  notes-v2.md
  notes.md
  src/App.tsx
  src/FunctionNamespaceContext.tsx
  src/LeftSidebar.tsx
  src/WorkspaceContext.tsx
  src/exampleNodes.ts
  src/index.css
  src/nodes/CallNode.tsx
  src/nodes/FunctionNode.tsx
Due: eslint --fix, prettier --write

feature: persistence via local-storage
  notes-v2.md
  src/App.tsx
  src/LeftSidebar.tsx
  src/WorkspaceContext.tsx
  src/index.css
  src/persistence.ts
Due: eslint --fix, prettier --write

cleanup: remove runtime stuff
  notes-v2.md
  src/App.tsx
  src/RuntimeContext.tsx
  src/RuntimeFlow.tsx
  src/nodeRegistry.ts
  src/nodes/CallInstanceNode.tsx
  src/nodes/CallNode.tsx
  src/nodes/RuntimeReturnNode.tsx
  src/nodes/arith/AddNode.tsx
  src/nodes/arith/ArithNode.tsx
  src/nodes/arith/DivNode.tsx
  src/nodes/arith/MulNode.tsx
  src/nodes/arith/SubNode.tsx
Due: eslint --fix, prettier --write

try moving away from lint-staged
  .husky/pre-commit
  notes-v2.md
  package.json
Due: prettier --write

remove more runtime stuff
  src/Sidebar.tsx
  src/components/NodeIcon.tsx
  src/exampleNodes.ts
  src/nodeRegistry.ts
  src/nodes/DisplayNode.tsx
  src/nodes/IfNode.tsx
Due: eslint --fix, prettier --write

misc fixes
  src/App.tsx
  src/nodes/CallNode.tsx
  src/nodes/FunctionNode.tsx
Due: eslint --fix, prettier --write

feature: booleans
  notes-v2.md
  src/Sidebar.tsx
  src/components/NodeIcon.tsx
  src/exampleNodes.ts
  src/index.css
  src/nodeRegistry.ts
  src/nodes/NumberNode.tsx
  src/nodes/literals/FalseNode.tsx
  src/nodes/literals/TrueNode.tsx
  src/nodes/logic/AndNode.tsx
  src/nodes/logic/EqualNode.tsx
  src/nodes/logic/GtNode.tsx
  src/nodes/logic/LogicNode.tsx
  src/nodes/logic/LtNode.tsx
  src/nodes/logic/NotNode.tsx
  src/nodes/logic/OrNode.tsx
  src/persistence.ts
Due: eslint --fix, prettier --write

fixes: sub node 2 inputs, number node can be 0
  src/nodes/NumberNode.tsx
  src/nodes/arith/SubNode.tsx
Due: eslint --fix, prettier --write

style tweaks: resize nodes
  src/index.css
  src/nodes/CallNode.tsx
  src/nodes/IfNode.tsx
Due: eslint --fix, prettier --write

update notes
  notes-v2.md
Due: none

draft feature: parse graph to Scheme
  notes-v2.md
  src/App.tsx
  src/LeftSidebar.tsx
  src/components/NodeIcon.tsx
  src/nodes/FunctionNode.tsx
  src/parse.ts
  src/prettifyScheme.ts
Due: eslint --fix, prettier --write

improved left sidebar UI w/ code view
  package.json
  src/LeftSidebar.tsx
  src/index.css
  src/prettifyScheme.ts
Due: eslint --fix, prettier --write

feature: Scheme evaluation
  notes-v2.md
  package-lock.json
  package.json
  src/App.tsx
  src/LeftSidebar.tsx
  src/WorkspaceContext.tsx
  src/biwascheme.d.ts
  src/defaultWorkspaces.ts
  src/exampleNodes.ts
  src/index.css
  src/persistence.ts
  src/schemeEvaluator.ts
Due: eslint --fix, prettier --write

update default workspaces
  src/LeftSidebar.tsx
  src/WorkspaceContext.tsx
  src/defaultWorkspaces.ts
  src/defaultWorkspacesData.json
  src/index.css
Due: eslint --fix, prettier --write

setup lint-staged
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,html})
